[submodule "modules/limboai"]
	path = modules/limboai
	url = git@github.com:limbonaut/limboai.git
[submodule "modules/voxel"]
	path = modules/voxel
	url = git@github.com:Zylann/godot_voxel.git
[submodule "modules/godotsteam"]
	path = modules/godotsteam
	url = https://codeberg.org/godotsteam/godotsteam.git
